<h1><%=@user.username%> Homepage</h1>

<h3>Email: <%= @user.email %></h3>
<br>
<br>
<h3><%=@user.username%> Post(s)</h3>
<ul>
<% @user.posts.each do |p| %>
	<li>Category: <%= p.category.name %>
		<br>
		<br>
		<%= link_to p.content, post_path(p) %>
	</li>
<% end %>
</ul>
<br>
<br>
<%= link_to "Users Index", users_path %>