<h1> Edit Page: <%= @post.title%> </h1>

<%=form_for @post do |p| %>
	<br>
	<!--<b><%= p.label :users %><b>
	<%= p.collection_select :user_id, User.all, :id, :username, prompt: true %>
	<br>
	-->
	<b><%= p.label :categories %></b>
	<%= p.collection_select :category_id, Category.all, :id, :name, prompt: true %>
	<br>
	<br>
	<b><%= p.label :title %></b>
	<%= p.text_field :title %>
	<br>
	<br>
	<b><%= p.label :content %></b>
	<br>
	<%= p.text_area :content%>
	<br>
	<%= p.submit %>
<% end %>