<h1>Category: <%= @post.category.name %></h1>
<br>
<h2><%=@post.title%></h2>

<h3>Posted By: <%= @post.user.username %></h3>
    <% if session[:user_id] == @post.user_id %>
        <%= link_to "Edit", edit_post_path(@post) %>
    <% end %>
<br>
<p><%=@post.content%></p>
<p><%= link_to "Respond to Post", new_comment_path(post: @post.id) %>


<h4>Comments</h4>
<% @post.comments.each do |comment| %>
    <% if comment.parent_id == nil %> <!-- If this comment is parent... prevents replies displaying themselves as parent comment -->
        <li><%=comment.user.username %>: <%= link_to "Reply", new_comment_path(parent_id: comment.id, post: @post.id)%>
        <% if session[:user_id] == comment.user_id %>
            <%= link_to "Edit", edit_comment_path(comment) %>
        <% end %>
        <br>
        <%=comment.content%>
        
        </li>
        <% if comment.replies %>
            <ul>
            <% comment.replies.each do |reply| %>
                <li>---<%=reply.user.username%>:
                <br>
                <%=reply.content%>
                <% if session[:user_id] == reply.user_id %>
            <%= link_to "Edit", edit_comment_path(reply) %>
        <% end %>
                </li>
                <br>
            <% end %>
            </ul>
        <% end %>
        <br>
    <% end %>
<% end %>
<br>
<br>
<br>
<%= link_to "Category Homepage", category_path(@post.category)%>
<br>
<%= link_to "Users Index", users_path %>