<% if flash[:notice] %>
    <div class = "notice"><%= flash[:notice] %></div>
<% end %>


<h1>Category: <%= @post.category.name %></h1>
<br>
<h2><%=@post.title%></h2>

<h3>Posted By: <%= @post.user.username %></h3>
<br>
<p><%=@post.content%></p>
<h4>Comments</h4>
<% @post.comments.each do |comment| %>
    <li><%=comment.user.username %>:
    <br>
    <%=comment.content%></li>
    <br>
<% end %>
<br>
<br>
<br>
<%= link_to "Category Homepage", category_path(@post.category)%>
<br>
<%= link_to "Users Index", users_path %>