<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header wrap_it_up">
      <% if session[:user_id] %>
        <h4>Logged in as: <%= current_user.username %></h4>
        <% if current_user.admin == true %>
          <h5 class="red"><b>ADMIN</b></h5>
        <% end %>
        <div class="ui animated fade button biggerButton" tabindex="0">
          <div class="visible content">Profile</div>
            <div class="hidden content">
              <span><%= link_to "Your Page", user_path(current_user) %>
            </div>
          </div>
        <div class="ui animated fade button biggerButton" tabindex="0">
          <div class="visible content">Logout :)</div>
            <div class="hidden content">
              <span><%= link_to "Logout", "/logout" %>
            </div>
          </div>
        </div>
        <br>
      <% else %>
      <div> <!-- Maybe make this kinda like a pop-up thing if user is not logged in make this go to bottom? -->
        <h4>To get the most out of Askit:<br><%= link_to "Create an account", new_user_path %> or <%= link_to "Login", login_path %></h4>
      </div>
      <br>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>