<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="navigation">
    <div class="logo">
      <span><%= link_to "Askit", about_path %>
    </div>
    <div class="ui animated fade button biggerButton home" tabindex="0">
        <div class="visible content"><p class="users_wrap_it_up">Users</p></div>
          <div class="hidden content">
            <span><%= link_to "Users Index", users_path%>
          </div>
        </div>
    <div class="ui animated fade button biggerButton home" tabindex="0">
        <div class="visible content"><p class="categories_wrap_it_up">Categories</p></div>
          <div class="hidden content">
            <%= link_to categories_path do %>
              <p class="categories_hover">Categories</p>
            <% end %>
          </div>
        </div>

    <% if session[:user_id] %>
      <div class="ui animated fade button biggerButton home" tabindex="0">
        <div class="visible content"><p class="users_wrap_it_up">Profile</p></div>
          <div class="hidden content">
            <span><%= link_to "Your Page", user_path(current_user) %>
          </div>
        </div>
      <div class="ui animated fade button biggerButton home" tabindex="0">
        <div class="visible content"><p class="users_wrap_it_up">Logout</p></div>
          <div class="hidden content">
            <span><%= link_to "Exit", "/logout" %>
          </div>
        </div>
      <div class="home login_status">
      <h4>Logged in as: <%= current_user.username %></h4>
        <% if current_user.admin == true %>
          <h5 class="red nav_logged_in"><b>ADMIN</b></h5>
        <% end %>
      </div>
      </div> <!--Navigation class ends here -->
    <br>
    <% else %>
      <div class="ui animated fade button biggerButton home" tabindex="0">
        <div class="visible content"><i class="user plus icon"></i></div>
          <div class="hidden content">
            <span><%= link_to "Create Account", new_user_path %>
          </div>
        </div>
      <div class="ui animated fade button biggerButton home" tabindex="0">
        <div class="visible content">Login</div>
          <div class="hidden content">
            <span><%= link_to "Sign In", login_path %>
          </div>
        </div>
      <div class="home login_status">
      <h4>You are currently not logged in.
        <br><%= link_to "Create an account", new_user_path %> or <%= link_to "Login", login_path %>
        <br>To get the most out of this app.
      </h4>
      </div>
      </div> <!-- Navigation class ends here for else statement -->
      <% end %>   
  </div>





    <div class="header wrap_it_up">
    <div class="top-bar">
    
    </div>
    <br>
    </div>
    <%= yield %>
  </body>
</html>